<% javascript 'rails', 'tooltip' %>

<%= form_for @semester do |f| %>
  <%= render 'shared/error_messages', :target => @semester %>

  <dl>
    <dt><%= f.label :month, 'Season/Month' %></dt>
    <dd><%= f.text_field :month %></dd>

    <dt><%= f.label :year %></dt>
    <dd><%= f.number_field :year %></dd>

    <dt><%= f.label :state %></dt>
    <dd><%= f.select :state, Semester::STATES %></dd>

    <dt><%= f.label :scheduleman_id, 'Scheduleman ID' %></dt>
    <dd>
      <%= f.text_field :scheduleman_id,
        :'data-tooltip' => scheduleman_tooltip %>
      (optional)
    </dd>
  </dl>

  <div class='actions'><%= f.submit :disable_with => 'Submitting...' %></div>
<% end %>
