<div class='semester <%= semester.state %>' data-id="<%= semester.id %>">
  <fieldset>
    <legend>
      <%= semester.name %> |
      <span class='units' data-units="<%= semester.units %>">
        <%= semester.units %>
      </span>
      units
    </legend>

    <div class='content<%= semester_class semester %>'>
      <div class='courses'>
        <% if semester.courses.size == 0 %>
          <div class='drag'>Drag Courses Here</div>
        <% end %>

        <% semester.courses.each do |course| %>
          <div class='course'
               data-id="<%= course.id %>"
               data-units="<%= course.units %>">
            <%= link_to '[info]',
                   course.info_url,
                   :class => 'info', :target => 'blank',
                   :title => 'Course information on ScheduleMan' %>
            <%= link_to '[X]',
                   remove_semester_path(semester, :course_id => course),
                   :method => :delete, :remote => true,
                   :class => 'remove', :title => 'Remove course' %>

            <span class='number'><%= course.number %></span>
            <span class='name'><%= truncate course.name, :length => 25 %></span>
            <span class='units'><%= course.units %></span>
          </div>
        <% end %>
      </div>

      <%= form_for [:add, semester], :remote => true do |f| %>
        <div>
          <%= hidden_field_tag :focus, '1' %>
          <%= hidden_field_tag :course_id, '' %>

          <span><%= text_field_tag :course_name %></span>
          <%= f.submit 'Add', :disable_with => '...' %>
        </div>
      <% end %>

      <div class='links'>
        <% if can? :remove, semester %>
          <%= link_to '[X]', semester, :method => :delete, :remote => true,
                :confirm => 'Are you sure?', :class => 'remove',
                :title => 'Delete this semester' %>
        <% end %>

        <% if can? :sync, semester %>
          <%= link_to '[sync]', [:sync, semester], :method => :put,
              :remote => true, :class => 'sync',
              :title => 'Sync with ScheduleMan' %>
        <% end %>

        <% if can? :update, semester %>
          <%= link_to '[edit]', [:edit, semester], :remote => true,
                :class => 'edit', :title => 'Edit semester settings' %>
        <% end %>

        <% if can? :add_course, semester %>
          <%= link_to '[add]', '#', :class => 'add',
                :title => 'Add a course/Hide search box' %>
        <% end %>

        <% if semester.scheduleman_url %>
          <%= link_to '[sman]', semester.scheduleman_url,
                :class => 'scheduleman',
                :title => 'See schedule on ScheduleMan',
                :target => 'blank' %>
        <% end %>
      </div>
    </div>

    <%= link_to 'show/hide', '#', :class => 'show-hide',
          :title => 'Show/hide semester' %>

  </fieldset>
</div>
