<% provide :stylesheets do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<% provide :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>

<% provide :toolbar do %>
  <div class='share'>
    <%= link_to '[facebook]', facebook_url, :class => 'facebook',
          :title => 'Share your plan on facebook' %>
    <%= link_to '[twitter]', twitter_url, :class => 'twitter',
          :title => 'Share your plan on twitter' %>
    <%= link_to '[link]', share_url(@user), :class => 'link',
          :title => 'Share your plan with a URL' %>
  </div>
<% end %>

<% build_cache @user.majors %>

<div id='semesters'>
  <%= render @user.semesters %>
</div>

<div id='majors'>

  <div class='legend'>
    <span class='icon-puzzle'></span> = planned,
    <span class='icon-accept'></span> = completed,
    <span class='icon-exclamation'></span> = unmet
  </div>

  <% @user.majors.each do |major| %>
    <%= render 'users/major', :major => major %>
  <% end %>

  <% if can? :add_major, @user %>
    <%= link_to 'Add major', majors_path %>
  <% end %>
</div>
