<% provide :stylesheets do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<% provide :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>

<div class='toolbar'>
  <%= link_to '[new semester]', [:new, :semester] %>
  <%= link_to '[facebook]', facebook_url, :class => 'facebook' %>
  <%= link_to '[twitter]', twitter_url, :class => 'twitter' %>
  <%= link_to '[link]', share_url(@user), :class => 'link' %>
</div>

<% build_cache @user.majors %>

<div id='semesters'>
  <%= render @user.semesters %>
</div>

<div id='majors'>
  <div class='legend'>
    <span class='icon-puzzle'></span> = planned,
    <span class='icon-accept'></span> = completed,
    <span class='icon-exclamation'></span> = unmet
  </div>

  <% @user.majors.each do |major| %>
    <%= render 'users/major', :major => major %>
  <% end %>

  <% if can? :add_major, @user %>
    <%= link_to 'Add major', majors_path %>
  <% end %>
</div>
