<% javascript 'rails', 'home' %>
<% stylesheet 'home' %>

<!-- <div class='links'><%= link_to '[new semester]', [:new, :semester] %></div> -->

<div id='semesters'>
  <%= render @user.semesters %>
</div>

<div id='majors'>
  <div class='legend'>
    <%= image_tag 'icon/puzzle.png' %> = planned,
    <%= image_tag 'icon/accept.png' %> = completed,
    <%= image_tag 'icon/exclamation.png' %> = unmet
  </div>

  <% @user.majors.each do |major| %>
    <%= render 'users/major', :major => major %>
  <% end %>

  <% if can? :add_major, @user %>
    <%= link_to 'Add major', majors_path %>
  <% end %>
</div>
