<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>

<!-- <div class='links'><%= link_to '[new semester]', [:new, :semester] %></div> -->

<% build_cache @user.majors %>

<div id='semesters'>
  <%= render @user.semesters %>
</div>

<div id='majors'>
  <div class='legend'>
    <span class='icon-puzzle'></span> = planned,
    <span class='icon-accept'></span> = completed,
    <span class='icon-exclamation'></span> = unmet
  </div>

  <% @user.majors.each do |major| %>
    <%= render 'users/major', :major => major %>
  <% end %>

  <% if can? :add_major, @user %>
    <%= link_to 'Add major', majors_path %>
  <% end %>
</div>
