<% javascript 'rails', 'home', 'colorpicker' %>
<% stylesheet 'home' %>

<!-- <div class='links'><%= link_to '[new semester]', [:new, :semester] %></div> -->

<div id='semesters'>
  <%= render current_user.semesters %>
</div>

<div id='majors'>
  <%= render current_user.majors %>

  <div class='legend'>
    <%= image_tag 'icons/puzzle.png' %> = planned,
    <%= image_tag 'icons/accept.png' %> = completed
  </div>

  <%= form_tag add_major_path, :remote => true do %>
    <div>
      <%= hidden_field_tag :major_id %>
      <span><%= text_field_tag :major_name %></span>
      <%= submit_tag 'Add Major', :disable_with => 'Adding...' %>
    </div>
  <% end %>
</div>
