<% javascript 'rails', 'majors/form' %>
<% stylesheet 'majors/form' %>

<%= form_for @major do |f| %>
  <%= render 'shared/error_messages', :target => @major %>

  <dl>
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><%= f.label :year %></dt>
    <dd><%= f.text_field :year %></dd>

    <dt><strong>Groups</strong></dt>
    <dd><%= link_to '[add]', '#' %></dd>
  </dl>

  <div id='groups'>
    <%= f.fields_for :requirement_groups do |gf| %>
      <%= render 'group_fields', :f => gf %>
    <% end %>
  </div>

  <script type='text/html' id='new-group'>
    <%= f.fields_for :requirement_groups, @major.requirement_groups.build,
          :child_index => 'CHANGEME' do |gf| %>
      <%= render 'group_fields', :f => gf %>
    <% end %>
  </script>

  <div class='actions'>
    <%= f.submit :disable_with => 'Submitting...' %>
  </div>
<% end %>
