<% provide :stylesheets do %>
  <%= stylesheet_link_tag 'majors/form' %>
<% end %>
<% provide :javascripts do %>
  <%= javascript_include_tag 'majors/form' %>
<% end %>

<%= form_for @major do |f| %>
  <%= render 'shared/error_messages', :target => @major %>

  <dl class='top'>
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><%= f.label :college %></dt>
    <dd><%= f.text_field :college, :'data-tooltip' =>
            "This should be the same college as listed when looking at the \
             audit. This means that it's normally an abbreviation" %></dd>

    <dt><%= f.label :year %></dt>
    <dd><%= f.text_field :year, :size => 4, :'data-tooltip' =>
            "This should be the same year as listed on the official \
             audit" %></dd>
  </dl>

  <dl class='top'>
    <dt><%= f.label :cmu_audit_name, 'CMU Audit Name' %></dt>
    <dd><%= f.text_field :cmu_audit_name, :size => 30,
              :'data-tooltip' => "This is the name that the CMU Audit gives\
                to the major. You can find this by going to the audit page \
                and seeing what is under the 'Major' heading in the top \
                navigation boxes" %></dd>

    <dt><%= f.label :major_file %></dt>
    <dd><%= f.text_field :major_file, :size => 30, :'data-tooltip' =>
            "This is provided by CMU's official audit system. If you're \
             looking at an audit for this major, at the bottom of the page \
             there will be an odd string starting with 'FinishForm:'.\
             This value is the string after 'major='. It's normally separated \
             by colons." %></dd>

    <dt><%= f.label :link %></dt>
    <dd><%= f.text_field :link, :size => 30, :'data-tooltip' =>
            "This should be a link to the official requirement list for this \
             major (if one exists)" %></dd>
  </dl>
<% end %>

<div id='groups'>
  <%= render @major.requirement_groups %>
</div>

<div class='actions'>
  <%= link_to 'Add Group', [@major, :requirement_groups], :remote => true,
        :method => 'post' %>
</div>
