<fieldset data-id="<%= major.id %>">

  <legend>
    <%= major.name %> <%= major.year %>
    <span class='count'>
      (<%= completed_requirements_count major %> /
      <%= requirements_count major %>)
    </span>
    <%= link_to '[edit]', [:edit, major] %> |
    <%= link_to '[remove]', users_remove_major_path(:major_id => major),
          :method => :delete, :remote => true %>
  </legend>

  <% major.requirement_groups.each do |group| %>
    <div class='group'>

      <h4>
        <%= group.name %>
        (<%= completed_requirements_count group %> /
        <%= requirements_count group %>)
      </h4>

      <% group.requirements.each do |req| %>
        <% finished = (@cache[major][req].size == req.required) %>

        <div class='req<%= finished ? ' finished' : '' %>'
             data-scheduled="<%= @cache[major][req].to_json %>">
          <%= link_to '#', :class => 'name' do %>
            <%= req.name %>&nbsp;

            <% if req.required > 1 %>
              (<%= req.required %>)
            <% end %>
          <% end %>

          <ul>
            <% req.courses.each do |course| %>
              <li><span class='course new' data-id="<%= course.id %>">
                <%= course.pretty_name %>
              </span></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>
  <% end %>

</fieldset>
