<h1><%= @major.name %> (<%= @major.year %>)</h1>

<div class='links'>
  <%= link_to '[edit]', [:edit, @major], :class => 'edit' if can? :update, @major %>
  <%= link_to '[destroy]', @major, :method => :delete, :class => 'remove' if can? :destroy, @major %>
</div>

<% @major.requirement_groups.each do |group| %>
  <fieldset>
    <legend><%= group.display_name %></legend>

    <ul>
      <% group.requirements.each do |req| %>
        <li>
          <%= req.display_name %>
          <%= "(#{req.required})" if req.required > 1 %>

          <ul>
            <% req.courses.each do |course| %>
              <li><%= course.pretty_name %></li>
            <% end %>

            <% if req.use_others_in_group %>
              <li>Any other course in <%= group.display_name %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </fieldset>
<% end %>
