<!DOCTYPE html>
<html>
  <head>
    <title>AuditMan</title>
    <%= stylesheet_tags 'application' %>
    <%= javascript_tags %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id='header'>
      <div class='content'>
        <div class='logo'><%= link_to 'AuditMan', root_path %></div>

        <ul class='links'>
          <li><%= link_to 'Majors', majors_path %></li>
        </ul>

        <div class='user-info'>
          <% if current_user %>
            Logged in as: <%= current_user.display_name %> |
            <%= link_to 'Log out', destroy_user_session_path %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>

    <div id='main'>
      <% flash.each do |kind, message| %>
        <%= content_tag :div, message, :class => "flash #{kind}" %>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
