<!DOCTYPE html>
<html>
  <head>
    <title>Oddit</title>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag 'rails' %>
    <%= yield :javascripts %>
  </head>

  <body>

    <div id='header'>
      <div class='content'>
        <div class='logo'><%= link_to 'Oddit', root_path %></div>

        <nav>
          <ul>
            <li><%= link_to 'Majors', majors_path %></li>
          </ul>
        </nav>

        <div class='user-info'>
          <% if current_user %>
            Logged in as: <%= current_user.display_name %> |
            <%= link_to 'Log out', destroy_user_session_path %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>

    <div id='main'>
      <% flash.each do |kind, message| %>
        <%= content_tag :div, message, :class => "flash #{kind}" %>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
