<!DOCTYPE html>
<html>
  <head>
    <title>AuditMan</title>
    <%= stylesheet_tags 'application' %>
    <%= javascript_tags %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id='main'>
      <% flash.each do |kind, message| %>
        <%= content_tag :div, message, :class => "flash #{kind}" %>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
